<div class="row contact about">
	<div class="col-lg-8 col-md-8 col-sm-12 left-column">
		<div class="col-sm-12">
			<p class="contact-title">About</p>
		</div>
		<div class="row">
			<diiv class="col-sm-12">
				<p class="about-text">
					At Breakpoint, we are just as comfortable in the structured and disciplined
					environments of telcos and financial institutions, as we are in bringing agility,
					stability and good sense to the excitement and thrust of startups and technology
					ventures.
				</p>
				<br>
				<p class="about-text">
					We can mix it up because our roots run deep in enterprise computing, while our
					youthful culture, skills and associations are right at the cutting edge. Founded in
					Cape Town in 2002, Breakpoint has evolved from a Sun Microsystems specialist
					with a loyal customer base into a trusted technology partner for many more esteemed
					customers in the region, with deployments extending to Europe, the Middle
					East, Africa and the United States of America.
				</p>
			</diiv>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 right-column">
		<div class="top-right-colomn">
			<p class="line-about"></p>
			<p>
			  <span class="title-3">Strategic Partners</span>
	  		</p>
  			<div class="block-description">
  				<ul>
  					<li>
  						Oracle
  					</li>
  					<li>
  						NetApp
  					</li>
  					<li>
  						Aspera
  					</li>
  					<li>
  						Supermicro
  					</li>
  					<li>
  						F5
  					</li>
  					<li>
  						Extreme
  					</li>
  					<li>
  						IBM
  					</li>
  					<li>
  						Mellanox
  					</li>
  					<li>
  						VMWare
  					</li>
  				</ul>
  			</div>
		</div>
		<div class="bottom-right-colomn">
			<p class="line-about"></p>
			<p>
			  <span class="title-4">Get in touch</span>
	  		</p>
	  		<p class="line-about-2"></p>
	  		<p>
	  			<div class="copyright">
		  			© Copyright Breakpoint 2005-2017. All rights reserved
				</div>
	  		</p>
		</div>
	</div>
</div>
