<div class="row contact">
	<div class="col-lg-8 col-md-8 col-sm-12 left-column">
		<div class="col-sm-12">
			<p class="contact-title">Contact</p>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<p class="title-container">
					<span class="title">Tel</span>
					<span class="text">&nbsp;&nbsp;021 975-6434</span>
				</p>
				<p>
					<span class="title">Fax</span>
					<span class="text">088 021-975-6434</span>
				</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="map-container">
					<div class="map-container-left">
						<span class="icon ion-location"></span>
					</div>
					<div class="map-container-right">
						MAP
					</div>
				</div>
			</div>
		</div>
		<div class="row address-container">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<p class="title">
					Address
				</p>
				<p class="text-2">
					1 Bridgeway Park, Century City,<br> Cape Town
				</p>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<p class="title">
					Postal Address
				</p>
				<p class="text-2">
					PO Box 143, Century City,<br> 7446, Cape Town
				</p>
			</div>
		</div>
		<div class="row address-container">
			<div class="col-sm-12 form-title">
				<p class="title">
					Send us a message
				</p>
			</div>
			<form>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="form-group">
					    <label for="name">Name</label>
					    <input type="text" class="form-control" id="name" placeholder="Name">
					</div>
					<div class="form-group">
					    <label for="email">Email</label>
					    <input type="email" class="form-control" id="email">
					</div>
					<div class="form-group">
					    <label for="subject">Subject</label>
					    <input type="text" class="form-control" id="subject">
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="form-group">
					    <label for="message">Message</label>
					    <textarea class="form-control" id="message"></textarea>
					</div>
				</div>
			</form>
			<div class="col-sm-12 form-title">
				<button type="submit">Submit</button>
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-12 right-column">
		<div class="top-right-colomn">
			<p>
			  <span class="title-2">EMAIL US</span>
	  		</p>
  			<div class="block-description">
  				<span><b>Sales</b></span><br>
	  			sales@breakpoint.co.za<br><br>
	  			<span><b>Technical</b></span><br>
	  			technical@breakpoint.co.za<br><br>
	  			<span><b>Admin</b></span><br>
	  			admin@breakpoint.co.za
  			</div>
		</div>
		<div class="bottom-right-colomn">
			<p>
			  <span class="title-2">PAIA</span>
	  		</p>
	  		<p>
	  			<div class="block-description">
		  			A copy of our Promotion Of Access to
					Information Manual can be obtained by
					e-mailing <b>admin@breakpoint.co.za</b> with
					<b>“PAIA”</b> in the subject line.
				</div>
	  		</p>
		</div>
	</div>
</div>