<div class="row eight">
	<div class="row page-header-container first-section">
		<div class="col-lg-4 col-md-4 col-sm-12 left-column">
		  	<div class="left-page-badge-container"></div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="right-page-badge-container">
				<div class="right-page-badge-text">
   					STRATA
		  		</div>
			</div>
			<div class="row page-heading-image">
		  		<img src="/images/BP_Home Page_Icons7.png" alt="">
		  	</div>
			<div class="row page-heading">
				Professional<br>
				& managed<br>
				services
		  	</div>
		  	<div class="row page-heading-line">
		  	   <p></p>
		  	</div>
		</div>
	</div>
	<div class="row actions">
		<div class="left-arrow-container">
			<div class="left-arrow left-arrow-action">
				<a href="/seven">
					<span class="icon ion-android-arrow-back"></span>
				</a>
			</div>
		</div>
		<div class="previous">
            <a href="">Previous</a>
		</div>
	</div>
	<div class="row page-header-container second-section">
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs right-column-second-section">
			<p>
			Breakpoint was recently deployed to assist a large satellite TV operator with the
			installation of a highly specialised suite of Aspera software applications across
			various locations in Africa. The assignment included engaging with foreign entities
			to ensure that the remote components of the software were working, travelling
			to the client’s remote locations and working with the client to prepare the
			environment for installation. An intimate understanding of the software, installation
			procedures and client’s operations allowed Breakpoint to provide a professional
			service that had the client up and running smoothly across remote regions
			within a few weeks. The same applied to a Video-on-Demand startup in Ghana
			which acquired highly specialised Aspera software but did not have the skills or
			resources to install.
			</p>
			<br>
			<p>
			In both cases Breakpoint employed Strata, a professional solution for the setup,
			installation and configuration of managed services. Our Strata team of experts
			assists clients across the globe in cases when the client, local technicians or
			software suppliers are not capable of or available to manage such processes.
			</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 left-column left-column-second-section">
			<div class="top-left-second-section">
				<p class="line"></p>
				<p class="top-left-second-section-text">
				Breakpoint will set up your highly specialised software and storage solutions when you can’t
				</p>
			</div>
			<div class="bottom-left-second-section">
				<span class="apogee">STRATA</span>
				<br>
				<span class="ideal">Storage Solutions</span>
				<br>
				<ul>
				 	<li>
				 	Aspera software deployments
				 	</li>
				 	<li>
				 	Linux
				 	</li>
				 	<li>
				 	Large Scale Software defined storage
				 	</li>
				 	<li>
				 	High Performance computing
				 	</li>
				 	<li>
				 	Nutanix Hyper-convergence
				 	</li>
				 	<li>
				 	Solaris
				 	</li>
				 	<li>
				 	F5
				 	</li>
				 	<li>
				 	Windows
				 	</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row page-header-container third-section">
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="top-right-column-third-section">
				<span class="apogee">STRATA</span>
				<br>
				<span class="ideal">Storage Solutions</span>
				<br>
				<ul>
				 	<li>
				 	Nutanix Hyperconverged infrastructure
				 	</li>
				 	<li>
				 	Dell/EMC VXRail
				 	</li>
				 	<li>
				 	Suse Enterprise Storage
				 	</li>
				</ul>
			</div>
			<div class="bottom-right-column-third-section">
				<span class="ideal">Product Application</span>
				<br>
				<ul>
				 	<li>
				 	Remote regional offices (mobile networks, financial services and other data heavy usinesses)
				 	</li>
				 	<li>
				 	Video-on-demand services
				 	</li>
				 	<li>
				 	Telecommunications Companies (Telcos)
				 	</li>
				 	<li>
				 	Media companies including satellite television providers
				 	</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 left-column right-column-second-section">
			<p>
			Drawing from over 20 years of experience in enterprise computing, the Strata
			team provides professional consulting, stabilisation, installation, licensing, infrastructure
			re-architecting, testing and cost optimisation services that adhere to
			global best practices. We also train clients on how to use their new software and
			demonstrate proof of concept. The team regularly assists with rapid technology
			deployments around the world, spanning from traditional systems to the latest
			generation of technology systems.
			</p>
			<br>
			<p>
			The Strata team also specialises in the installation of computation and storage
			building blocks, including the delivery, unpacking, rack mounting, cabling and
			setup of vast numbers of servers and disk storage shelves. Our solutions include
			certified hybrid cloud, hyper-converged infrastructure and software defined
			solutions services, and we also provide ongoing system monitoring, capacity
			planning and system support.
			</p>
		</div>
	</div>
</div>
