<div class="row five">
	<div class="row page-header-container first-section">
		<div class="col-lg-8 col-md-8 col-sm-12 left-column">
			<div class="row page-heading">
		  		Launch<br/>
		  		readiness
		  	</div>
		  	<div class="row page-heading-line">
		  	   <p></p>
		  	</div>
		  	<div class="row page-heading-image">
		  		<img src="/images/BP_Home Page_Icons4_2.png" alt="">
		  	</div>
		  	<div class="left-page-badge-container">
		  		<div class="left-page-badge-text">
   					SHIFT
		  		</div>
		  	</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="right-page-badge-container">
		  	</div>
		</div>
	</div>
	<div class="row actions">
		<div class="left-arrow-container">
			<div class="left-arrow left-arrow-action">
				<a href="/four">
					<span class="icon ion-android-arrow-back"></span>
				</a>
			</div>
		</div>
		<div class="previous">
            <a href="">Previous</a>
		</div>
		<div class="right-arrow-container">
			<div class="right-arrow right-arrow-action">
			    <a href="/six">
					<span class="icon ion-android-arrow-forward"></span>
				</a>
			</div>
		</div>
		<div class="next">
            <a href="">Next</a>
		</div>
	</div>
	<div class="row page-header-container second-section">
		<div class="col-lg-4 col-md-4 col-sm-12 left-column left-column-second-section">
			<div class="top-left-second-section">
				<p class="line"></p>
				<p class="top-left-second-section-text">
				Intelligent evaluation of competing vendor platforms for your business
				</p>
			</div>
			<div class="bottom-left-second-section"></div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs right-column-second-section">
			<br>
			<p>
			Breakpoint’s Shift re-risking solution helps businesses to select the right tech
			and vendor platforms for their needs based on thorough evaluation and testing.
			The solution was born from a dilemma faced by a large Mobile Financial Services
			vendor in Asia that needed to migrate its service to a new vendor platform
			- a daunting and potentially risky move. Working with the client, Breakpoint
			designed its Shift solution to drive a full-scale, in-depth, parallel and real-time
			evaluation of two competing vendor platforms across four criteria: Performance,
			Scalability, Security and Data Integrity. The real-world performance assessment
			methodology ensured quantifiable, strategic decision-making that was both
			highly efficient and economical. </p>
		</div>
	</div>
	<div class="row page-header-container third-section">
		<div class="col-lg-8 col-md-8 col-sm-12 left-column right-column-second-section">
			<p>
			The expertise and experience developed in this process led to Shift becoming a
			formal service offering at Breakpoint, tailored for mobile operators and financial
			services providers who need help with vendor selections.</p>
			<br>
			<p>A Shift evaluation includes comparative assessments of vendor network latency,
			upstream back pressure, message loss, data migration and integrity aspects
			using comparative performance and security toolsets. Several non-functional
			aspects which affect long term suitability of a vendor platform can also be assessed.
			Once a Shift assessment has been conducted there can be no doubt as
			to which vendor platform to select. </p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="top-right-column-third-section">
				<span class="apogee">SHIFT</span>
				<br>
				<span class="ideal">Is Ideal For - </span>
				<br>
				<ul>
				 	<li>
				 	Mobile service providers
				 	</li>
				 	<li>
				 	Technology service providers
				 	</li>
				</ul>
			</div>
			<div class="bottom-right-column-third-section">
				<div class="col-sm-6">
					<p class="second-section-line"></p>
					<p class="bottm-right-column-third-section-left-text">
					READ MORE
					</p>
				</div>
				<div class="col-sm-6">
					<p class="bottm-right-column-third-section-left-text-2">
					<b>DOWNLOAD</b><br><span>the Shift Glossy</span>
					</p>
					<p>
					   <span class="icon ion-android-download"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
