<div class="row four hidden-xs hidden-sm">
	<div class="row page-header-container first-section">
		<div class="col-lg-4 col-md-4 col-sm-12 left-column">
		  	<div class="left-page-badge-container"></div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="right-page-badge-container">
				<div class="right-page-badge-text">
   					AUTOMATION
		  		</div>
			</div>
			<div class="row page-heading-image">
		  		<img src="/images/BP_Home Page_Icons6.png" alt="">
		  	</div>
			<div class="row page-heading">
		  		Global High<br>
				Speed Data<br>
				Transfer &<br>
				Automation
		  	</div>
		  	<div class="row page-heading-line">
		  	   <p></p>
		  	</div>
		</div>
	</div>
	<div class="row actions">
		<div class="left-arrow-container">
			<div class="left-arrow left-arrow-action">
				<a href="/three">
					<span class="icon ion-android-arrow-back"></span>
				</a>
			</div>
		</div>
		<div class="previous">
            <a href="">Previous</a>
		</div>
		<div class="right-arrow-container">
			<div class="right-arrow right-arrow-action">
				<a href="/five">
					<span class="icon ion-android-arrow-forward"></span>
				</a>
			</div>
		</div>
		<div class="next">
            <a href="">Next</a>
		</div>
	</div>
	<div class="row page-header-container second-section">
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs right-column-second-section">
			<p>
			Today’s frenetic digital world demands the lighting fast, reliable and secure
			transfer of terabytes of business-critical, multimedia data across the globe. Media
			companies and educational institutions were among the first in South Africa
			to require sophisticated solutions to this demand. Breakpoint had the solution.  
			</p>
			<br>
			<p>
			When Multichoice (South Africa, Nigeria and Kenya) needed to premiere the latest
			blockbuster movies on the continent on the same day as the US, Breakpoint
			made possible its slogan “Express from the US”. Sony, too, was empowered to
			send films to China for post-production, and local academic institution Boston
			City Campus was enabled to transfer terabytes of files and video lectures quickly
			between 45 campuses across South Africa. A leading financial services firm was
			equipped by Breakpoint to reliably send and backup files from remote worldwide
			offices without affecting traffic during business operational hours, in order to
			meet service level agreements (SLA) with confidence.
			</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 left-column left-column-second-section">
			<div class="top-left-second-section">
				<p class="line"></p>
				<p class="top-left-second-section-text">
				The reason why Africa can now watch film premiers on the same day as the US
				</p>
			</div>
			<div class="bottom-left-second-section"></div>
		</div>
	</div>
	<div class="row page-header-container third-section">
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="top-right-column-third-section">
				<span class="ideal">Product Application</span>
				<br>
				<ul>
				 	<li>
				 	Academic institutions with a network of campuses or Massive Online Open Courses (MOOCs)
				 	</li>
				 	<li>
				 	Digital media companies
				 	</li>
				 	<li>
				 	Telecommunications Companies (Telcos)
				 	</li>
				 	<li>
				 	Film companies
				 	</li>
				 	<li>
				 	Multinational advertising and communications agency groups
				 	</li>
				</ul>
			</div>
			<div class="bottom-right-column-third-section"></div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 left-column right-column-second-section">
			<p>
			As a specialist in this field for many years, Breakpoint helps many organisations
			leverage traditional wide area networks and the internet to transfer masses of
			data securely and reliably at maximum speed regardless of file size, transfer
			distance and network conditions. We do this in partnership with a globally recognised
			industry leader in high speed global data transfer and automation, Aspera
			Software. Our partnership with Aspera not only enables our clients to reliably
			transfer vast amounts of data, but also to enjoy file workflow automation to
			ensure that routine file transfer tasks are done right on time, every time.
			</p>
		</div>
	</div>
</div>
<div class="mobile-page row hidden-lg hidden-md">
	<div class="row page-two page-four">
		<div class="row header">
			<div class="row page-header-top">
				<div class="page-header-top-inside">
					AUTOMATION
				</div>
			</div>
			<div class="page-header-text">
				Global High<br>
				Speed Data<br>
				Transfer &<br>
				Automation
			</div>
			<p class="page-header-line"></p>
			<div class="row page-icon">
				<img src="/images/BP_Home Page_Icons6_2.png" alt="">
			</div>
		</div>
		<div class="row second-big-section">
			<p>
			Today’s frenetic digital world demands the lighting fast, reliable and secure
			transfer of terabytes of business-critical, multimedia data across the globe. Media
			companies and educational institutions were among the first in South Africa
			to require sophisticated solutions to this demand. Breakpoint had the solution.  
			</p>
			<br>
			<p>
			When Multichoice (South Africa, Nigeria and Kenya) needed to premiere the latest
			blockbuster movies on the continent on the same day as the US, Breakpoint
			made possible its slogan “Express from the US”. Sony, too, was empowered to
			send films to China for post-production, and local academic institution Boston
			City Campus was enabled to transfer terabytes of files and video lectures quickly
			between 45 campuses across South Africa. A leading financial services firm was
			equipped by Breakpoint to reliably send and backup files from remote worldwide
			offices without affecting traffic during business operational hours, in order to
			meet service level agreements (SLA) with confidence.
			</p>
		</div>
		<div class="row second-small-section">
			<p class="second-small-section-line"></p>
			The reason why Africa can now watch film premiers on the same day as the US
		</div>
		<div class="row second-small-section-3 second-small-section-4">
		</div>
		<div class="row third-section-top">
			<span class="ideal">Product Application </span>
			<br>
			<ul>
			 	<li>
			 	Academic institutions with a network of campuses or Massive Online Open Courses (MOOCs)
			 	</li>
			 	<li>
			 	Digital media companies
			 	</li>
			 	<li>
			 	Telecommunications Companies (Telcos)
			 	</li>
			 	<li>
			 	Film companies
			 	</li>
			 	<li>
			 	Multinational advertising and communications agency groups
			 	</li>
			</ul>
		</div>
		<div class="row third-section-bottom">
			
		</div>
		<div class="row second-big-section">
			<p>
			As a specialist in this field for many years, Breakpoint helps many organisations
			leverage traditional wide area networks and the internet to transfer masses of
			data securely and reliably at maximum speed regardless of file size, transfer
			distance and network conditions. We do this in partnership with a globally recognised
			industry leader in high speed global data transfer and automation, Aspera
			Software. Our partnership with Aspera not only enables our clients to reliably
			transfer vast amounts of data, but also to enjoy file workflow automation to
			ensure that routine file transfer tasks are done right on time, every time.
			</p>
		</div>	
	</div>
</div>
