<div class="row home hidden-xs">
	<div class="owl-carousel owl-theme">
	  <div class="owl-carousel-item item-one thumbnail" id="first-item">
		  <a href="/apogee">
		  	<div class="owl-item-container">
			  	<div class="row title-container">
			  		Customer<br/>
			  		experience<br/>
			  		monitoring
			  	</div>
			  	<div class="row paragraph">
			  		<p></p>
			  	</div>
			  	<div class="row sub-title-container">
			  		Monitor and measure your custom-<br/>ers' real mobile service experiences
			  	</div>
			  	<div class="row graph-container">
			  		<img src="/images/BP_Home Page_Icons3.png" alt="">
			  	</div>
			</div>
		  </a>
	  </div>
	  <div class="owl-carousel-item item-two thumbnail">
		 <a href="/two">
		 	<div class="owl-item-container">
			  	<div class="row title-container">
			  		Hybrid Cloud
			  	</div>
			  	<div class="row paragraph">
			  		<p></p>
			  	</div>
			  	<div class="row sub-title-container">
			  		How our hyper-convergence solution<br/>reduced a leading african retailer's<br/>downtime by 25%
			  	</div>
			  	<div class="row graph-container">
			  		<img src="/images/BP_Home Page_Icons8.png" alt="">
			  	</div>
			</div>
		 </a>
	  </div>
	  <div class="owl-carousel-item item-three thumbnail">
		<a href="/three">
			<div class="owl-item-container">
			  	<div class="row title-container">
			  		Near real-time<br/>analytics
			  	</div>
			  	<div class="row paragraph">
			  		<p></p>
			  	</div>
			  	<div class="row sub-title-container">
			  		Real-time, intelligent business mon-<br/>itoring that large mobile operators<br/>can trust
			  	</div>
			  	<div class="row graph-container">
			  		<img src="/images/BP_Home Page_Icons1.png" alt="">
			  	</div>
			</div>
		</a>  	
	  </div>
	  <div class="owl-carousel-item item-four thumbnail">
		 <a href="/four">
		 	<div class="owl-item-container">
			  	<div class="row title-container">
			  		Global High<br/>Speed Data <br/>Transfer & <br/>Automation
			  	</div>
			  	<div class="row paragraph">
			  		<p></p>
			  	</div>
			  	<div class="row sub-title-container">
			  		The reason why Africa can now<br/>watch film premiers on the same day <br/>as the US
			  	</div>
			  	<div class="row graph-container">
			  		<img src="/images/BP_Home Page_Icons6.png" alt="">
			  	</div>
			</div>
		 </a>
	  </div>
	  <div class="owl-carousel-item item-five thumbnail">
		 <a href="/five">
		 	<div class="owl-item-container">
			  	<div class="row title-container">
			  		Launch<br/>readiness
			  	</div>
			  	<div class="row paragraph">
			  		<p></p>
			  	</div>
			  	<div class="row sub-title-container">
			  		Intelligent evaluation of completing vendor<br/>platforms for your business
			  	</div>
			  	<div class="row graph-container">
			  		<img src="/images/BP_Home Page_Icons4.png" alt="">
			  	</div>
			</div>
		 </a>
	  </div>
	  <div class="owl-carousel-item item-six thumbnail">
		<a href="/six">
			<div class="owl-item-container">
			  	<div class="row title-container">
			  		Compute &<br/>Storage Building<br/>Blocks
			  	</div>
			  	<div class="row paragraph">
			  		<p></p>
			  	</div>
			  	<div class="row sub-title-container">
			  		Guilding clients through the evolution<br/>of the IT industry for 15 years
			  	</div>
			  	<div class="row graph-container">
			  		<img src="/images/BP_Home Page_Icons5.png" alt="">
			  	</div>
			</div>
		</a>
	  </div>
	  <div class="owl-carousel-item item-seven thumbnail">
	  	<a href="/seven">
		     <div class="owl-item-container">
			  	<div class="row title-container">
			  		Monitoring
			  	</div>
			  	<div class="row paragraph">
			  		<p></p>
			  	</div>
			  	<div class="row sub-title-container">
			  		How Breakpoint saved a popular<br/>African mobile wallet from peak-time<br/>failure
			  	</div>
			  	<div class="row graph-container">
			  		<img src="/images/BP_Home Page_Icons2.png" alt="">
			  	</div>
			 </div>
		</a>
	  </div>
	  <div class="owl-carousel-item item-eight thumbnail">
	  	<a href="/eight">
		  	<div class="owl-item-container">
			  	<div class="row title-container">
			  		Niche<br/>professional<br/>services
			  	</div>
			  	<div class="row paragraph">
			  		<p></p>
			  	</div>
			  	<div class="row sub-title-container">
			  		Breakpoint will set up your highly<br/>specialised software and storage<br/>solutions when you can't
			  	</div>
			  	<div class="row graph-container">
			  		<img src="/images/BP_Home Page_Icons7.png" alt="">
			  	</div>
			</div>
		</a>
	  </div>
	  <div class="owl-carousel-item about thumbnail">
		  	<div class="owl-item-container">
			  	<div class="row title-container">
			  		About
			  	</div>
			  	<div class="row paragraph">
			  		<p></p>
			  	</div>
			  	<div class="row sub-title-container">
			  		Breakpoint solves impossible IT<br/>challenges by applying novel tech-<br/>nologies that cover the fullstack,<br/>using effcient, leading edge ap-<br/>proaches through small, focused<br/>teams of experts.
			  	</div>
			</div>
	  </div>
	  <div class="owl-carousel-item thumbnail" id="last-item">
		  	 <div class="owl-item-container">
			  	<div class="row title-container">
			  		Contact
			  	</div>
			  	<div class="row paragraph">
			  		<p></p>
			  	</div>
			  	<div class="row sub-title-container">
			  			<p class="header">
			  				Telephone
			  			</p>
			  			021 975-6434
			  		<p>
			  		<br>
			  			<span>EMAIL US</span>
			  		</p>
			  			<p class="header header-2">
			  				Sales
			  			</p>
			  			sales@breakpoint.co.za
			  			<br>
			  			<p class="header header-2">
			  				Technical
			  			</p>
			  			technical@breakpoint.co.za
			  			<p class="header header-2">
			  				Admin
			  			</p>
			  			admin@breakpoint.co.za
			  	</div>
			 </div>
	  </div>
	</div>
	<div class="left-arrow">
		<a class="owl-prev">
			<span class="icon ion-android-arrow-back"></span>
		</a>
	</div>
	<div class="right-arrow">
		<a class="owl-next">
			<span class="icon ion-android-arrow-forward"></span>
		</a>
	</div>
	{{!-- <div class="row actions">
		<div class="left-arrow-container">
			<div class="left-arrow left-arrow-action">
				<a href="/five">
					<span class="icon ion-android-arrow-back"></span>
				</a>
			</div>
		</div>
		<div class="previous">
            <a href="">Previous</a>
		</div>
		<div class="right-arrow-container">
			<div class="right-arrow right-arrow-action">
				<span class="icon ion-android-arrow-forward"></span>
			</div>
		</div>
		<div class="next">
            <a href="">Next</a>
		</div>
	</div> --}}
</div>
<div class="row mobile-home hidden-lg hidden-md hidden-sm">
	<div class="slide-section section-one">
		<div class="section-title">
			Customer<br/>
	  		experience<br/>
	  		monitoring
		</div>
  		<img src="/images/BP_Home Page_Icons3.png" alt="">
	</div>
</div>
<div class="row mobile-home hidden-lg hidden-md hidden-sm">
	<div class="slide-section section-two">
		<div class="section-title">
			Hybrid Cloud
		</div>
  		<img src="/images/BP_Home Page_Icons8.png" alt="">
	</div>
</div>
<div class="row mobile-home hidden-lg hidden-md hidden-sm">
	<div class="slide-section section-three">
		<div class="section-title">
			Near real-time
		</div>
  		<img src="/images/BP_Home Page_Icons1.png" alt="">
	</div>
</div>
<div class="row mobile-home hidden-lg hidden-md hidden-sm">
	<div class="slide-section section-four">
		<div class="section-title">
			Global High<br/>Speed Data <br/>Transfer & <br/>Automation
		</div>
  		<img src="/images/BP_Home Page_Icons6.png" alt="">
	</div>
</div>
<div class="row mobile-home hidden-lg hidden-md hidden-sm">
	<div class="slide-section section-five">
		<div class="section-title">
			Launch<br/>readiness
		</div>
  		<img src="/images/BP_Home Page_Icons4.png" alt="">
	</div>
</div>
<div class="row mobile-home hidden-lg hidden-md hidden-sm">
	<div class="slide-section section-six">
		<div class="section-title">
			Compute &<br/>Storage Building<br/>Blocks
		</div>
  		<img src="/images/BP_Home Page_Icons5.png" alt="">
	</div>
</div>
<div class="row mobile-home hidden-lg hidden-md hidden-sm">
	<div class="slide-section section-seven">
		<div class="section-title">
			Monitoring
		</div>
  		<img src="/images/BP_Home Page_Icons2.png" alt="">
	</div>
</div>
<div class="row mobile-home hidden-lg hidden-md hidden-sm">
	<div class="slide-section section-eight">
		<div class="section-title">
			Niche<br/>professional<br/>services
		</div>
  		<img src="/images/BP_Home Page_Icons7.png" alt="">
	</div>
</div>
<div class="row mobile-home hidden-lg hidden-md hidden-sm">
	<div class="slide-section section-about">
		<div class="section-title">
			About
		</div>
	</div>
</div>
<div class="row mobile-home hidden-lg hidden-md hidden-sm">
	<div class="slide-section section-contact">
		<div class="section-title">
			Contact
		</div>
	</div>
</div>

