<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Project</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />
		<link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css" />
		<link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick-theme.css" />
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/home.css">
		<link rel="stylesheet" href="/stylesheets/owl_carousel.css">
		<link rel="stylesheet" href="/stylesheets/one.css">
		<link rel="stylesheet" href="/stylesheets/two.css">
		<link rel="stylesheet" href="/stylesheets/three.css">
		<link rel="stylesheet" href="/stylesheets/four.css">
		<link rel="stylesheet" href="/stylesheets/five.css">
		<link rel="stylesheet" href="/stylesheets/six.css">
		<link rel="stylesheet" href="/stylesheets/seven.css">
		<link rel="stylesheet" href="/stylesheets/eight.css">
		<link rel="stylesheet" href="/stylesheets/contact.css">
		<link rel="stylesheet" href="/stylesheets/about.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,600i,700" rel="stylesheet">
	</head>
	<body>
{{!-- 		<div class="loading">
			<div class="loading-icon"></div>
		</div> --}}
		<div class="row layout">
			<div class="row navigation">
				<a href="/" class="logo">
					<img src="/images/BP_Logo.png" alt="">
				</a>
				<ul class="hidden-sm hidden-xs">
					<li>
						<a href="/">
							Stories
						</a>
					</li>
					<li>
						<a href="/about">
							About
						</a>
					</li>
					<li>
						<a href="/contact">
							Contact
						</a>
					</li>
				</ul>
			</div>
			{{{ body }}}
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
		<script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
		<script src="/javascripts/loader.js"></script>
		<script src="/javascripts/owl_carousel.js"></script>
		<script src="/javascripts/pagination.js"></script>
		<script src="/javascripts/parallax.js"></script>
		<script src="/javascripts/scrollme.js"></script>
	</body>
</html>
