<div class="row one hidden-xs hidden-sm">
	<div class="row page-header-container first-section">
		<div class="col-lg-8 col-md-8 col-sm-12 left-column">
			<div class="row page-heading">
		  		Customer<br/>
		  		experience<br/>
		  		monitoring
		  	</div>
		  	<div class="row page-heading-line">
		  	   <p></p>
		  	</div>
		  	<div class="row page-heading-image">
		  		<img src="/images/BP_Home Page_Icons3.png" alt="">
		  	</div>
		  	<div class="left-page-badge-container">
		  		<div class="left-page-badge-text">
   					Apogee
		  		</div>
		  	</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="right-page-badge-container">
		  	</div>
		</div>
	</div>
	<div class="row actions first-back">
		<div class="right-arrow-container">
			<div class="right-arrow right-arrow-action">
				<a href="/two">
					<span class="icon ion-android-arrow-forward"></span>
				</a>
			</div>
		</div>
		<div class="next">
            <a href="">Next</a>
		</div>
	</div>
	<div class="row page-header-container second-section">
		<div class="col-lg-4 col-md-4 col-sm-12 left-column left-column-second-section">
			<div class="top-left-second-section">
				<p class="line"></p>
				<p class="top-left-second-section-text">
				Monitor and message your customer's real mobile service experiences
				</p>
			</div>
			<div class="bottom-left-second-section"></div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs right-column-second-section">
			<br>
			<p>
			The customer experience for mobile users is rarely monitored adequately, but is
			especially critical in markets where the majority of consumers rely on their mobile
			phones as their primary communications and financial tool. Breakpoint product
			Apogee can provide this service. Apogee is designed to provide real-time,
			real service checking of mobile customer experiences across various layers of the
			mobile service.</p>
			<br>
			<p>Apogee has found application in a variety of industries and markets. It measures
			mobile customer experience from the outside in to monitor and analyse the quality
			of critical services such cellular 2G, 3G, LTE, USSD and SMS, mobile apps and
			API.</p>
			<br>
			<p>A regional African mobile services hub recently attempted to measure its customers’
			user experience by implementing best of breed Application Performance
			Monitoring. When it discovered that this monitoring solution was inadequate,
			because it could not definitively indicate the real state of the service for mobile
			users in other regions or countries, Breakpoint’s Apogee was deployed to monitor
			user experience in four African countries.</p>
		</div>
	</div>
	<div class="row page-header-container third-section">
		<div class="col-lg-8 col-md-8 col-sm-12 left-column right-column-second-section">
			<p>
			Further afield, a mobile financial services provider in South East Asia relies on
			Apogee to measure the customer experience from its five integrated mobile network
			operators over USSD, and uses Apogee’s continuous service checks over
			time to report on service quality and to perform Service Level Agreement (SLA)
			management. </p>
			<br>
			<p>Apogee takes the guesswork out of service status, and empowers mobile operators
			and other businesses to take decisive and confident action in relation to
			vendors, suppliers, partners or customers.</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="top-right-column-third-section">
				<span class="apogee">APOGEE</span>
				<br>
				<span class="ideal">Is Ideal For - </span>
				<br>
				<ul>
				 	<li>
				 	Mobile network operators (MNOs)
				 	</li>
				 	<li>
				 	Mobile services providers
				 	</li>
				 	<li>
				 	Financial services providers (FS) with mobile applications such as e-wallets and money transfer
				 	</li>
				</ul>
			</div>
			<div class="bottom-right-column-third-section">
				<div class="col-sm-6">
					<p class="second-section-line"></p>
					<p class="bottm-right-column-third-section-left-text">
					READ MORE
					</p>
				</div>
				<div class="col-sm-6">
					<p class="bottm-right-column-third-section-left-text-2">
					<b>DOWNLOAD</b><br><span>the Apogee Glossy</span>
					</p>
					<p>
					   <span class="icon ion-android-download"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mobile-page row hidden-lg hidden-md">
	<div class="row page-one">
		<div class="row header">
			<div class="row page-header-top">
				<div class="page-header-top-inside">
					APOGEE
				</div>
			</div>
			<div class="page-header-text page-header-text-page-one">
				Customer<br/>
		  		experience<br/>
		  		monitoring
			</div>
			<p class="page-header-line"></p>
			<div class="row page-icon">
				<img src="/images/BP_Home Page_Icons3.png" alt="">
			</div>
		</div>
		<div class="row second-small-section">
			<p class="second-small-section-line"></p>
			Monitor and message your customer's real mobile service experiences
		</div>
		<div class="row second-big-section">
			<p>
			The customer experience for mobile users is rarely monitored adequately, but is
			especially critical in markets where the majority of consumers rely on their mobile
			phones as their primary communications and financial tool. Breakpoint product
			Apogee can provide this service. Apogee is designed to provide real-time,
			real service checking of mobile customer experiences across various layers of the
			mobile service.</p>
			<br>
			<p>Apogee has found application in a variety of industries and markets. It measures
			mobile customer experience from the outside in to monitor and analyse the quality
			of critical services such cellular 2G, 3G, LTE, USSD and SMS, mobile apps and
			API.</p>
			<br>
			<p>A regional African mobile services hub recently attempted to measure its customers’
			user experience by implementing best of breed Application Performance
			Monitoring. When it discovered that this monitoring solution was inadequate,
			because it could not definitively indicate the real state of the service for mobile
			users in other regions or countries, Breakpoint’s Apogee was deployed to monitor
			user experience in four African countries.</p>
		</div>
		<div class="row second-small-section-2"></div>
		<div class="row second-big-section">
			<p>
			Further afield, a mobile financial services provider in South East Asia relies on
			Apogee to measure the customer experience from its five integrated mobile network
			operators over USSD, and uses Apogee’s continuous service checks over
			time to report on service quality and to perform Service Level Agreement (SLA)
			management. </p>
			<br>
			<p>Apogee takes the guesswork out of service status, and empowers mobile operators
			and other businesses to take decisive and confident action in relation to
			vendors, suppliers, partners or customers.</p>
		</div>
		<div class="row third-section-top">
			<span class="apogee">APOGEE</span>
			<br>
			<span class="ideal">Is Ideal For - </span>
			<br>
			<ul>
			 	<li>
			 	Mobile network operators (MNOs)
			 	</li>
			 	<li>
			 	Mobile services providers
			 	</li>
			 	<li>
			 	Financial services providers (FS) with mobile applications such as e-wallets and money transfer
			 	</li>
			</ul>
		</div>
		<div class="row third-section-bottom">
			<div class="col-sm-12 col-xs-12">
				<p class="second-section-line"></p>
				<p class="bottm-right-column-third-section-left-text">
				READ MORE
				</p>
				<br>
			</div>
			<div class="col-sm-12 col-xs-12">
				<p class="bottm-right-column-third-section-left-text-2">
				<b>DOWNLOAD</b><br><span>the Apogee Glossy</span>
				</p>
				<p>
				   <span class="icon ion-android-download"></span>
				</p>
			</div>
		</div>
	</div>
</div>
