<div class="row seven">
	<div class="row page-header-container first-section">
		<div class="col-lg-4 col-md-4 col-sm-12 left-column">
		  	<div class="left-page-badge-container"></div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="right-page-badge-container">
				<div class="right-page-badge-text">
   					PHOTON
		  		</div>
			</div>
			<div class="row page-heading">
				Monitoring
		  	</div>
		  	<div class="row page-heading-line">
		  	   <p></p>
		  	</div>
		  	<div class="row">
		  		<img src="/images/BP_Home Page_Icons2.png" alt="">
		  	</div>
		</div>
	</div>
	<div class="row actions">
		<div class="left-arrow-container">
			<div class="left-arrow left-arrow-action">
				<a href="/six">
					<span class="icon ion-android-arrow-back"></span>
				</a>
			</div>
		</div>
		<div class="previous">
            <a href="">Previous</a>
		</div>
		<div class="right-arrow-container">
			<div class="right-arrow right-arrow-action">
				<a href="/eight">
					<span class="icon ion-android-arrow-forward"></span>
				</a>
			</div>
		</div>
		<div class="next">
            <a href="">Next</a>
		</div>
	</div>
	<div class="row page-header-container second-section">
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs right-column-second-section">
			<p>
			Because of our infrastructure and integration expertise, Breakpoint is often
			asked by international customers - mostly in the telecommunications space - to
			deploy systems that can monitor complete applications for potential systems
			failures during critical business periods. This was exactly the case when a mobile
			wallet customer in Uganda needed to get its environment stabilised urgently
			before the busy Christmas peak. Breakpoint deployed its powerful full stack,
			holistic monitoring solution Photon. Breakpoint’s Photon team read the numbers,
			conducted a thorough analysis and prepared report with recommended remediations.
			Within two months two serious service problems were discovered that
			could have crippled the business over the festive period. The service was stabilised
			and the platform saw a 20% growth in daily Transactions per Second (TPS)
			rates during and after the peak period.
			</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 left-column left-column-second-section">
			<div class="top-left-second-section">
				<p class="line"></p>
				<p class="top-left-second-section-text">
				How Breakpoint saved a popular African mobile wallet from peak-time failure
				</p>
			</div>
			<div class="bottom-left-second-section"></div>
		</div>
	</div>
	<div class="row page-header-container third-section">
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="top-right-column-third-section">
				<span class="apogee">APOGEE</span>
				<br>
				<span class="ideal">Is Ideal For - </span>
				<br>
				<ul>
				 	<li>
				 	E-commerce platforms
				 	</li>
				 	<li>
				 	Mobile network operators
				 	</li>
				 	<li>
				 	Mobile service providers including e-wallets and money transfer solutions
				 	</li>
				 	<li>
				 	Businesses with peak period spikes
				 	</li>
				</ul>
			</div>
			<div class="bottom-right-column-third-section">
				<div class="col-sm-6">
					<p class="second-section-line"></p>
					<p class="bottm-right-column-third-section-left-text">
					READ MORE
					</p>
				</div>
				<div class="col-sm-6">
					<p class="bottm-right-column-third-section-left-text-2">
					<b>DOWNLOAD</b><br><span>the Alluvia Glossy</span>
					</p>
					<p>
					   <span class="icon ion-android-download"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 left-column right-column-second-section">
			<p>
			Photon provides a range of monitoring metrics that can be viewed in one unified
			dashboard. Photon is designed to highlight issues that could have a negative impact
			on performance and customer experience. While old-fashioned monitoring
			tends to operate in silos across teams and skills centres, including network, server,
			storage, database and applications teams, Photons break down these barriers
			to get a holistic overview of the functioning of a platform and any service challenges
			that users may be experiencing.
			</p>
		</div>
	</div>
</div>
