<div class="row six">
	<div class="row page-header-container first-section">
		<div class="col-lg-8 col-md-8 col-sm-12 left-column">
			<div class="row page-heading">
		  		Enterprise<br/>
		  		Compute &<br/>
		  		Storage Building &<br/>
		  		Blocks
		  	</div>
		  	<div class="row page-heading-line">
		  	   <p></p>
		  	</div>
		  	<div class="row page-heading-image">
		  		<img src="/images/BP_Home Page_Icons5_2.png" alt="">
		  	</div>
		  	<div class="left-page-badge-container">
		  		<div class="left-page-badge-text">
   					STORAGE
		  		</div>
		  	</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="right-page-badge-container">
		  	</div>
		</div>
	</div>
	<div class="row actions">
		<div class="left-arrow-container">
			<div class="left-arrow left-arrow-action">
				<a href="/five">
					<span class="icon ion-android-arrow-back"></span>
				</a>
			</div>
		</div>
		<div class="previous">
            <a href="">Previous</a>
		</div>
		<div class="right-arrow-container">
			<div class="right-arrow right-arrow-action">
			  	<a href="/seven">
				   <span class="icon ion-android-arrow-forward"></span>
				</a>
			</div>
		</div>
		<div class="next">
            <a href="">Next</a>
		</div>
	</div>
	<div class="row page-header-container second-section">
		<div class="col-lg-4 col-md-4 col-sm-12 left-column left-column-second-section">
			<div class="top-left-second-section">
				<p class="line"></p>
				<p class="top-left-second-section-text">
				Guiding clients through the evolution of the IT industry for 15 years 
				</p>
			</div>
			<div class="bottom-left-second-section"></div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs right-column-second-section">
			<p>
			Breakpoint is trusted by telcos, mobile operators, electronics companies, academia,
			financial services institutions and others to meet their high performance
			computing (HPC) and storage requirements. The company’s depth of experience,
			built up over the past 15 years, enables it to help clients choose the right architecture
			solutions from the most reliable suppliers for the right channels at the
			most competitive prices. Breakpoint’s engineers always work closely with the
			clients’ engineers to advise on the right high-end hardware, software and related
			professional services for their needs and follow up with world class post-sales
			support and service. 
			</p>
			<br>
			<p>
			Cementing a 10 year relationship, Breakpoint recently set up specialised HPC
			clusters for the University of the Free State in consultation with academic staff
			and scientific research partners such as the CSIR, Department of Science and
			Technology and the Centre for High Performance Computing (CHPC). These
			powerful computer clusters were designed to improve the university’s scientific
			research capabilities and in one important research project, managed to reduce
			scientific and mathematical calculation time from 238 computational years to
			one year. Breakpoint advised on, delivered and installed the technology without
			a hitch and at an educational discount to meet the university’s budget - all in the
			name of science education.  
			</p>
		</div>
	</div>
	<div class="row page-header-container third-section">
		<div class="col-lg-8 col-md-8 col-sm-12 left-column right-column-second-section">
			<p>
			Technology client Ericsson, which supplies solutions to mobile operators across
			Africa, relies on Breakpoint for efficient, faultless and timeous delivery of exported
			equipment and installation by world class local engineering experts.
			Breakpoint delivers no matter the size of the order, at a Rand value that saves
			thousands of dollars per installation. Breakpoint ensures that freight, with all
			of its customs and clearing challenges, is delivered on time and in one piece,
			by partnering with some of the most reliable courier companies in Africa and
			around the globe.
			</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="top-right-column-third-section">
				<span class="ideal">Product Application</span>
				<br>
				<ul>
				 	<li>
				 	Large enterprises
				 	</li>
				 	<li>
				 	Big data users
				 	</li>
				 	<li>
				 	Academic institutions
				 	</li>
				 	<li>
				 	Scientific research companies
				 	</li>
				 	<li>
				 	Mobile hardware providers
				 	</li>
				 	<li>
				 	Financial services
				 	</li>
				 	<li>
				 	Electronics companies
				 	</li>
				 	<li>
				 	Mobile network operators (MNOs)
				 	</li>
				</ul>
			</div>
			<div class="bottom-right-column-third-section"></div>
		</div>
	</div>
</div>
