<div class="row three">
	<div class="row page-header-container first-section">
		<div class="col-lg-4 col-md-4 col-sm-12 left-column">
		  	<div class="left-page-badge-container"></div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="right-page-badge-container">
				<div class="right-page-badge-text">
   					ALLUVIA
		  		</div>
			</div>
			<div class="row page-heading">
		  		Near<br>
				real-time<br>
				analytics
		  	</div>
		  	<div class="row page-heading-line">
		  	   <p></p>
		  	</div>
		  	<div class="row page-heading-image">
		  		<img src="/images/BP_Home Page_Icons1.png" alt="">
		  	</div>
		</div>
	</div>
	<div class="row actions">
		<div class="left-arrow-container">
			<div class="left-arrow left-arrow-action">
				<a href="/two">
					<span class="icon ion-android-arrow-back"></span>
				</a>
			</div>
		</div>
		<div class="previous">
            <a href="">Previous</a>
		</div>
		<div class="right-arrow-container">
			<div class="right-arrow right-arrow-action">
				<a href="/four">
					<span class="icon ion-android-arrow-forward"></span>
				</a>
			</div>
		</div>
		<div class="next">
            <a href="">Next</a>
		</div>
	</div>
	<div class="row page-header-container second-section">
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs right-column-second-section">
			<p>
			When the CIO of a large regional African telecommunications provider urgently
			needed a heads-up overview of the most critical performance indicators in their
			business, including whether their vendors were delivering on their KPIs, Breakpoint
			offered the company the solution it needed. The telco’s greatest challenge
			was to translate its complex business requirements into usable IT specifications
			that its multi-vendor team could assemble into a coherent dashboard to make
			sense of disparate data in a visual way. Breakpoint worked with the client and its
			vendors to approach the problem from a data scientific perspective. Breakpoint
			met with and listened to the engineers, service owners and executives to understand
			both the business needs and the technical challenges. 
			</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 left-column left-column-second-section">
			<div class="top-left-second-section">
				<p class="line"></p>
				<p class="top-left-second-section-text">
				Real-time, intelligent business monitoring that large mobile operators can trust
				</p>
			</div>
			<div class="bottom-left-second-section"></div>
		</div>
	</div>
	<div class="row page-header-container third-section">
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="top-right-column-third-section">
				<span class="apogee">ALLUVIA</span>
				<br>
				<span class="ideal">Is Ideal For - </span>
				<br>
				<ul>
				 	<li>
				 	CIOs of large corporations
				 	</li>
				 	<li>
				 	Banks
				 	</li>
				 	<li>
				 	Mobile Network Operators (MNOs)
				 	</li>
				</ul>
			</div>
			<div class="bottom-right-column-third-section">
				<div class="col-sm-6">
					<p class="second-section-line"></p>
					<p class="bottm-right-column-third-section-left-text">
					READ MORE
					</p>
				</div>
				<div class="col-sm-6">
					<p class="bottm-right-column-third-section-left-text-2">
					<b>DOWNLOAD</b><br><span>the Alluvia Glossy</span>
					</p>
					<p>
					   <span class="icon ion-android-download"></span>
					</p>
				</div>
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 left-column right-column-second-section">
			<p>
			Breakpoint’s own, specialised technology platform, Alluvia, employed a smart
			data approach to gather, clean up and most importantly define the relationships
			between the various in-flight data sources. From there data visualisations could
			be built to show the KPIs for the most revenue sensitive service metrics, with
			intuitive clarity in near real-time. The deployment of this technology was such a
			success that it will now be expanded to the client’s next layer of services.
			</p>
		</div>
	</div>
</div>
