<div class="row two">
	<div class="row page-header-container first-section">
		<div class="col-lg-8 col-md-8 col-sm-12 left-column">
			<div class="page-header-container-icon row">
				<img src="/images/BP_Home Page_Icons8_2.png">
			</div>
			<div class="row page-heading">
		  		Hybrid Cloud,<br>
				Hyper-converged<br>
				& Software-<br>
				Defined<br>
				Solutions
		  	</div>
		  	<div class="row page-heading-line">
		  	   <p></p>
		  	</div>
		  	<div class="row page-heading-image">
		  		<img src="/images/BP_Home Page_Icons3.png" alt="">
		  	</div>
		  	<div class="left-page-badge-container">
		  		<div class="left-page-badge-text">
   					HYBRID CLOUD
		  		</div>
		  	</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="right-page-badge-container">
		  	</div>
		</div>
	</div>
	<div class="row actions">
		<div class="left-arrow-container">
			<div class="left-arrow left-arrow-action">
				<a href="/apogee">
					<span class="icon ion-android-arrow-back"></span>
				</a>
			</div>
		</div>
		<div class="previous">
            <a href="">Previous</a>
		</div>
		<div class="right-arrow-container">
			<div class="right-arrow right-arrow-action">
				<a href="/three">
					<span class="icon ion-android-arrow-forward"></span>
				</a>
			</div>
		</div>
		<div class="next">
            <a href="">Next</a>
		</div>
	</div>
	<div class="row page-header-container second-section">
		<div class="col-lg-4 col-md-4 col-sm-12 left-column left-column-second-section">
			<div class="top-left-second-section">
				<p class="line"></p>
				<p class="top-left-second-section-text">
				How our hyper- <br>convergence solution reduced a leading African retailer’s downtime 
				</p>
			</div>
			<div class="bottom-left-second-section">
				<span class="header-1">BREAKPOINT</span>
				<br>
				<span class="header-2">Specialises In</span>
				<br>
				<ul>
				 	<li>
				 	Nutanix
				 	</li>
				 	<li>
				 	Dell VxRack
				 	</li>
				 	<li>
				 	Dell VxRail
				 	</li>
				 	<li>
				 	Dell EMC ScaleIO Ready
				 	</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-12 right-column hidden-sm hidden-xs right-column-second-section">
			<br>
			<p>
			When a leading South African retail group came to Breakpoint to streamline its
			IT infrastructure, we implemented a powerful hyper-converged solution that
			transformed its IT operations. IT silos were collapsed to create one neat and invisible
			infrastructure solution, freeing up a quarter of its IT resources for other
			business initiatives, and saving millions of Rand on support, downtime and maintenance
			costs. Software defined storage services and applications could for the
			first time be run on the same servers, and computation and storage were integrated
			into single x86 based servers deployed in scale-out clusters.
			This all-inone solution from Nutanix, a global enterprise cloud provider, reduced power,
			space and cooling requirements in the datacentre, ultimately lowering costs and
			freeing up 25% of their IT resources. The system is automated and manageable
			from one screen, vastly simplifying the management of these resources. </p>
		</div>
	</div>
	<div class="row page-header-container third-section">
		<div class="col-lg-8 col-md-8 col-sm-12 left-column right-column-second-section">
			<p>
			Breakpoint has the highest certified Nutanix sales team in the region and our
			specialist engineers are certified as Nutanix Platform Professionals. Our engineers
			not only install and configure the solutions, but will perform stress testing
			and monitoring to ensure the solution is up and running efficiently, before signing
			off on any projects. 
			</p>
			<br>
			<p>
			Seeking a similar solution, a Zambian telco came to Breakpoint to install and implement
			an economical openstack cloud solution leveraging commodity servers
			and storage to build its own private cloud solution. Constrained by the local Protection
			of Personal Information Act, Breakpoint provided a local company with
			the methodology to build a software-defined cloud solution that the client needed,
			and which enabled it to provide local cloud services to local customers at
			good prices. 
			</p>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 right-column hidden-sm hidden-xs">
			<div class="top-right-column-third-section">
				<span class="ideal">Product Application</span>
				<br>
				<ul>
				 	<li>
				 	Telecommunications companies (Telcos)
				 	</li>
				 	<li>
				 	Multinational corporations, including financial services and retail groups with vast geographical foot prints and regional head offices
				 	</li>
				 	<li>
				 	Big data users
				 	</li>
				</ul>
			</div>
			<div class="bottom-right-column-third-section"></div>
		</div>
	</div>
</div>
