.home{
	position: relative;
	padding: 0px !important;
	margin: 0px !important;  
   	width: 100%;
   	padding: 0px !important;
}

.home .left-arrow{
	z-index: 999999999999;
	position: absolute;
	bottom: 40px;
	left: 50px;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 100%;
	padding: 2px 10px;
}

.home .left-arrow a{
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}

.home .left-arrow span.icon{
	font-size: 21px;
	color: #000000;
	padding: 0px;
}

.home .right-arrow{
	z-index: 999999999999;
	position: absolute;
	bottom: 40px;
	right: 50px;
	text-align: center;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 100%;
	padding: 2px 10px;
}

.home .right-arrow a{
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}

.home .right-arrow span.icon{
	font-size: 21px;
	color: #000000;
	padding: 0px;
}

body{
	position: relative;
	padding: 0px !important;
	margin: 0px !important;  
}

.loading{
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	background: rgba(0, 0, 0, 0.96);
	z-index: 99999999999999999;
	color: #ffffff;
	overflow: hidden !important;
	text-align: center;
	padding-top: 20%;
}

.loading-icon{

}

.loading-icon{
  width: 60px;
  height: 60px;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.5s infinite ease-in-out;
  animation: sk-scaleout 1.5s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

.hideLoader{
	display: none;
}

.mobile-home-container{
	margin-top: 55px;
	margin-right: 0px !important;
}

/* Mobile version */
.mobile-home{
	height: 30vh;
	margin-right: 0px !important;
}

.mobile-home .slide-section{
	background-origin: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 30vh;
	color: #ffffff;
	font-family: Helvetica Neue !important;
	letter-spacing: 3px;
	padding-left: 50px;
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	position: relative;
	margin-right: 0px !important;
	
}

/*@media only screen and (max-width: 350px) {

	.mobile-home .slide-section{
		letter-spacing: 3px;
		padding-left: 50px;
		font-size: 20px !important;
		line-height: 22px !important;
	}

	.mobile-home .slide-section .section-title{
		top: 15%;
	}
}


@media only screen and (max-width: 400px) {

	.mobile-home .slide-section{
		letter-spacing: 3px;
		padding-left: 50px;
		font-size: 25px !important;
		line-height: 30px !important;
	}

	.mobile-home .slide-section .section-title{
		top: 15%;
	}
}*/

@media only screen and (max-width: 500px) {

	.mobile-home .slide-section{
		letter-spacing: 3px;
		padding-left: 35px;
		font-size: 30px;
		line-height: 39px;		
	}

    .mobile-home-container{
		margin-top: 60px;
		margin-right: 0px !important;
	}

	.mobile-home .slide-section .section-title{
		bottom: 15%;
	}

	.mobile-home{
	  height: 40vh !important;
	}

	.mobile-home .slide-section{
	  height: 40vh !important;
	}

	.mobile-home img{
		bottom: 10px !important;
	}

	.mobile-home .section-two img{
		width: 70px;
		bottom: 30px !important;
	}

	.mobile-home .section-four img{
		bottom: 0px !important;
	}
}

.mobile-home .section-title{
	position: absolute;
}

.mobile-home .slide-section img{
	position: absolute;
	
}

.mobile-home .slide-section .section-title{
	bottom: 30px;
}

.mobile-home .section-one{
	background: url('/images/BP_Home Page_Sections1.png');
}

.mobile-home .section-one img{
	bottom: 120px;
	width: 90px;
}

.mobile-home .section-two{
	background: url('/images/BP_Home Page_Sections2.png');
}

.mobile-home .section-two img{
	width: 70px;
	bottom: 90px;
}

.mobile-home .section-three{
	background: url('/images/BP_Home Page_Sections3.png');
}

.mobile-home .section-three img{
	width: 90px;
	bottom: 60px;
	/*margin-bottom: 20px;*/
}

.mobile-home .section-four{
	background: url('/images/BP_Home Page_Sections4.png');
}

.mobile-home .section-four img{
	width: 90px;
	bottom: 160px;
	/*margin-bottom: 20px;*/
}

.mobile-home .section-five{
	background: url('/images/BP_Home Page_Sections5.png');
	color: #1b2020 !important;
}

.mobile-home .section-five img{
	width: 90px;
	bottom: 90px;
}

.mobile-home .section-six{
	background: url('/images/BP_Home Page_Sections6.png');
}

.mobile-home .section-six img{
	width: 90px;
	bottom: 120px;
}

.mobile-home .section-seven{
	background: url('/images/BP_Home Page_Sections3.png');
}

.mobile-home .section-seven img{
	width: 90px;
	bottom: 60px;
}

.mobile-home .section-eight{
	background: url('/images/BP_Home Page_Sections8.png');
}

.mobile-home .section-eight img{
	width: 90px;
	bottom: 120px;
}

.mobile-home .section-about{
	background: url('/images/BP_Home Page_About.png');
	color: #1b2020 !important;
}

.mobile-home .section-contact{
	background: url('/images/BP_Home Page_Contact.png');
}
